# Build artifacts
build/
artifacts/
outputs/

# ZMK
zephyr/
!zephyr/module.yml

# West managed directories
.west/
modules/
tools/

# West projects from config/west.yml
eyelash_sofle/
zmk/
zmk-behavior-runtime-sensor-rotate/
zmk-module-ble-management/
zmk-module-battery-history/
zmk-module-settings-rpc/
zmk-module-runtime-input-processor/
zmk-config/
zmk-rgbled-widget/
nice-view-gem/
zmk-nice-oled/
hammerbeam-slideshow/
